.content{
    display: block;
    width: 90%;
    color: #494949;
    margin: 0 auto;
}

.content .contentCaption{
    text-align: center;
    font-size: 3em;
    clear: both;
}

.content .contentRow{
    display: block;
    width: 50%;
    font-size: 1em;
    font-style: italic;
    float: left;
    min-width: 26em;
}

.content .contentRow blockquote{
    display: inline-block;
    height: 5em;
    box-sizing: border-box;
}

.content .contentRow blockquote cite{
    display: block;
    font-size: 0.8em;
    font-style: normal;
    margin-top: 1em;
    color: #7a7a7a;
}
.content .contentRow blockquote cite:before{
    content: '- ';
}