body{
    background-color: #F3F3F3;
    font-family: "Lato",sans-serif;
}

.header{
    box-sizing: border-box;
    margin: 40px auto;
    padding: 1.5em 5em;
    background: #3B5399;
    min-height: 550px;
    min-width: 400px;
    color: #fff;
    line-height: 1.4;
}

.headerContainer{
    margin: 0 auto;
    width: 90%;
}

.headerLeft,
.headerRight{
    width: 47%;
}
.headerLeft,
.headerRight{
    min-width: 18em;
}

.headerLeft{
    text-align: center;
    float: left;
    margin-right: 2em;
}

.header .slogan{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5em;
}

.header .mainPhoto{
    margin-top: 2em;
}

.headerRight{
    float: left;
    font-size: 1.3em;
    padding-right: 1em;
}

.headerRight li{
    font-style: italic;
    font-size: 0.8em;
}

.headerRight .formRegister{
    width: 340px;
    margin: 0 auto;
}

.headerRight .inputEmail{
    border: none;
    border-radius: 5px;
    width: 300px;
    background: #ffffff !important;
    outline: none;
    font-size: 1em;
    padding: 0.65em;
}

.headerRight .buttonRegister{
    display: inline-block;
    border: 1px solid #ac1100;
    border-radius: 5px;
    box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);
    background: #ff2a13;
    width: 330px;
    padding: 0.7em 2em;
    margin: 0.5em auto;
    text-decoration: none;
    transition: all 0.15s linear 0s;
    color:#fff;
    font-size: 1em;
}

.headerRight .buttonRegister:hover{
    background-color: #df1600;
    border-color: #600900;
}
.headerRight .buttonRegister:visited,
.headerRight .buttonRegister:active{
    text-decoration: none;
    color: #fff;
}
.headerRight .buttonRegister:focus{
    outline: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}